/* Color palette */
/* Color palette darkened by 20% */
/* Color palette lightened by 20% */
/* Color palette desaturated by 100% */
/* Basic light and dark colors */
/* MOBILE STYLESHEET */
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  background-color: #FFFFFF;
  color: #000000;
}
nav,
footer {
  background-color: #000000;
  color: #FFFFFF;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0.95;
}
nav div {
  float: left;
  padding: .5em 0 0 .5em;
}
nav div .hamburger {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  line-height: 1.5em;
  padding: .5em;
  color: #FFFFFF;
  border: 0;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
nav div .cross {
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: .25em;
  color: #FFFFFF;
  border: 0;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  z-index: 10000000000000;
}
nav div .fa {
  padding: 0 .25em 0 .5em;
}
nav img {
  height: 55px;
  padding-top: .5em;
}
nav ul .menu {
  padding: 1em 0 0 0;
}
nav ul li {
  border-top: 1px solid #FF0000;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  padding: .5em 0 .5em 0;
  width: 100%;
}
nav ul li:hover {
  background-color: #FF0000;
}
nav ul li a {
  padding: 1em;
  text-decoration: none;
}
nav ul li a:link {
  color: #FFFFFF;
}
nav ul li a:visited {
  color: #FFFFFF;
}
nav ul li a:hover {
  color: #000000;
}
header {
  background-color: #000000;
  height: 62px;
}
h1 {
  color: #000000;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1.6em;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif;
  padding: .25em 0 .25em .5em;
}
h2 {
  color: #FFFFFF;
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.4em;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif;
  background-color: #FF0000;
  padding: .25em 0 .25em .5em;
}
h3 {
  color: #FF0000;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif;
  text-decoration: underline;
  padding: .25em 0 .25em .5em;
}
h4 {
  color: #FFFFFF;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif;
  text-align: center;
  text-transform: none;
  background-color: #FF0000;
  line-height: 2em;
  padding-left: 0;
}
h5 {
  color: #FF0000;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  text-transform: uppercase;
  font-family: 'Noto Serif', serif;
  padding: 0 0 .5em 1em;
  text-decoration: underline;
  text-transform: none;
}
ul li {
  line-height: 1.5em;
  list-style-position: outside;
}
main {
  clear: both;
  margin: 0;
}
main img {
  display: none;
  margin: 0 auto 0 auto;
}
main section {
  zoom: 1;
  /* For IE 6/7 */
}
main section:before {
  content: "";
  display: table;
}
main section:after {
  content: "";
  display: table;
  clear: both;
}
main section p {
  padding: .5em 1em .5em 1em;
}
main section ul {
  zoom: 1;
  /* For IE 6/7 */
  list-style-type: disc;
  list-style-position: inside;
  padding: 0 3em 0 3em;
}
main section ul:before {
  content: "";
  display: table;
}
main section ul:after {
  content: "";
  display: table;
  clear: both;
}
main section ul li {
  line-height: 1.5em;
  padding-bottom: .5em;
}
main section ul li:last-child {
  padding-bottom: 0;
}
main section form {
  padding: .25em .5em .25em .5em;
}
main section form label {
  padding: .25em .5em .25em .5em;
}
main section form input {
  margin: .5em;
  width: 95%;
}
main section form textarea {
  margin: .5em;
  width: 95%;
}
main section form select {
  margin: .25em .5em .25em .5em;
  font-size: .9em;
  width: 95%;
}
main section form .btn {
  border: none;
  margin: 1em 1em 1em .5em;
  width: 95%;
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: bold;
  padding: .5em;
  cursor: pointer;
  display: inline-block;
}
main section form .btn:hover {
  background-color: #000000;
  color: #FFFFFF;
}
main section iframe {
  margin: .5em 1em .5em 1em;
}
main section table {
  margin: .5em auto .5em auto;
  font-size: .85em;
  border: 1px solid black;
  border-collapse: collapse;
}
main section table th {
  font-weight: bold;
  border: 1px solid black;
  border-collapse: collapse;
}
main section table td {
  padding: 0 .5em 0 .5em;
  border: 1px solid black;
  border-collapse: collapse;
}
main section .weather iframe {
  margin: 0;
}
main section button {
  border: none;
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 1em;
  width: 80%;
  cursor: pointer;
  display: inline-block;
  margin: .5em 2.25em 1em 2.25em;
}
main section button:hover {
  background-color: #000000;
  color: #FFFFFF;
}
main section .accordion {
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
  padding: 1em;
  margin: 0;
  width: 100%;
  border: solid;
  text-align: left;
  outline: none;
  transition: 0.4s;
}
main section .accordion:hover {
  background-color: #FF0000;
}
main section .accordion:after {
  content: '\002B';
  font-size: 1em;
  color: #000000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
main section .active {
  background-color: #FF0000;
  color: #FFFFFF;
}
main section .active:hover {
  background-color: #FF0000;
}
main section .active:after {
  content: "\2212";
  font-size: 1em;
  color: #FFFFFF;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
main section .panel {
  padding: 0 1em;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
footer p {
  text-align: center;
  margin: 1em 0 1em 0;
  font-weight: bold;
}
footer section {
  padding: 0;
}
footer ul {
  zoom: 1;
  /* For IE 6/7 */
  margin: 1em 0 1em 0;
}
footer ul:before {
  content: "";
  display: table;
}
footer ul:after {
  content: "";
  display: table;
  clear: both;
}
footer ul li {
  display: block;
  float: left;
  text-align: center;
  width: 33.3%;
  font-weight: bold;
}
footer ul li a:link {
  color: #FF0000;
}
footer ul li a:visited {
  color: #FF0000;
}
footer ul li a:hover {
  color: #FFFFFF;
}
.active {
  background-color: #FF0000;
}
a {
  text-decoration: none;
}
a:link {
  color: #FF0000;
}
a:visited {
  color: #FF0000;
}
a:hover {
  color: #FFFFFF;
}
.fa {
  font-size: 1.5em;
}
.clip {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
/*
TABLET STYLESHEET
The following CSS affects all screen sizes larger than 480 pixels wide.
*/
@media only screen and (min-width: 481px) {
  body {
    font-size: 18px;
  }
  nav {
    padding-bottom: 0;
  }
  nav div {
    padding: .5em 0 0 1em;
  }
  nav div .hamburger {
    display: none;
  }
  nav div .cross {
    display: none;
  }
  nav div .fa {
    padding: 0 .5em 0 .5em;
  }
  nav img {
    height: 62px;
  }
  nav ul {
    float: right;
    padding: .5em;
  }
  nav ul li {
    display: block;
    border-top: none;
    width: auto;
    padding: .5em 0 .5em 0;
  }
  main section .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  main section .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  main section .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  main section .act {
    background-color: #000000;
  }
  main section img {
    display: block;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  main section ul li {
    padding: 0 0.5em 0 0.5em;
  }
  main section iframe {
    margin: .5em;
  }
  header {
    height: 68px;
  }
  h1 {
    color: #FF0000;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.8em;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
  }
  h2 {
    color: #FFFFFF;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.6em;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
  }
  h3 {
    color: #FF0000;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4em;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
  }
  h4 {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.2em;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    text-align: center;
    text-transform: none;
    line-height: 2em;
  }
  h5 {
    color: #FF0000;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    text-decoration: underline;
    text-transform: none;
  }
  .fa {
    font-size: 1.7em;
  }
}
/*
DESKTOP STYLESHEET
The following CSS affects all screen sizes larger than 1024 pixels wide.
*/
@media only screen and (min-width: 1025px) {
  body {
    font-size: 20px;
  }
  nav img {
    height: 100px;
    padding: .9em .25em .9em .25em;
  }
  nav div {
    padding: 0;
  }
  nav div .fa {
    font-size: 1.9em;
    padding: .25em;
  }
  nav ul {
    float: right;
    padding: 1.5em 0 1.5em 0;
  }
  nav ul li {
    display: block;
  }
  main {
    max-width: 1200px;
    margin: 0 auto 0 auto;
  }
  main section img {
    display: block;
    max-height: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  main section p {
    padding: 2em 2em 0 2em;
  }
  main section p:last-child {
    padding-bottom: 2em;
  }
  main section ul {
    padding: 1em 3em 1em 3em;
  }
  main section ul li {
    padding: 0 0.5em 0 0.5em;
  }
  header {
    height: 110px;
  }
  h1 {
    color: #FF0000;
    font-size: 2em;
    font-weight: bold;
    line-height: 2em;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
  }
  h2 {
    color: #FFFFFF;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.8em;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    padding: .5em 0 .5em 1em;
  }
  h3 {
    color: #FF0000;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1.6em;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    padding: 1em 0 0 1em;
  }
  h4 {
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.4em;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    text-align: center;
    text-transform: none;
    line-height: 2em;
  }
  h5 {
    color: #FF0000;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    text-decoration: underline;
    text-transform: none;
    padding: 0 2em 0 2em;
  }
  .fa {
    font-size: 1.9em;
  }
}
